.container {
    margin-top: 40px;
}

#tamanho {
    margin-top: 5%;
    width: 500px;
}
#btnCadastro {
    text-align: right;
}
#botao {
    background-color: #E50F87;
    color: #ffffff;
    font-weight: bold;

}
h2 {
    color: rgb(0, 94, 255);

}
